<template>
  <div class="card rounded-4 p-3 pb-4">
    <div class="m-4 mb-0">
      <div class="col">
        <div class="row d-flex justify-content-center"> 
          <img class="avatar avatar-128 bg-light rounded-circle text-white p-2" src="https://raw.githubusercontent.com/twbs/icons/main/icons/person-fill.svg">
        </div>
        <div class="row border-bottom">
            <div class="mx-3 mt-2 mb-4 fs-5 col d-flex justify-content-center align-items-center">
              <span class="mx-3">Johnny_Official</span>
              <font-awesome-icon icon="pen-to-square" /> 
            </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="p-2 border-bottom">
        <span>Sponsor Level</span>
        <div class="float-end">
          <span class="avatar avatar-24 bg-skyblue text-white rounded-5">57</span>
        </div>
      </div>
      <div class="p-2 border-bottom">
        <span>Sponsor Plan</span>
        <div class="float-end">
          <span class="m-2">Platinum</span>
          <span class="avatar avatar-24 bg-skyblue text-white rounded-5"><font-awesome-icon icon="fa-solid fa-trophy" /></span>
        </div>
      </div>
      <div class="p-2 border-bottom">
        <span>Verified</span>
        <div class="float-end">
          <span class="m-1 avatar avatar-16 bg-danger text-white rounded-5">X</span>
        </div>
      </div>
      <div class="p-2 border-bottom">
        <span>Ratings</span>
        <div class="float-end">
          <font-awesome-icon icon="fa-solid fa-star" />
          <span class="m-1">5.0</span>
        </div>
      </div>
      <div class="p-2 border-bottom">
        <span>Completed Contracts</span>
        <div class="float-end">
          <span class="m-1">14</span>
        </div>
      </div>
    </div>
  </div>
</template>