<template>
  <div class="input-wrapper form-control">
    <label class="card-label">Verify phone number</label>
    <div class="form-check form-switch card-switch-form">
      <input class="form-check-input fs-5" type="checkbox" role="switch">
    </div>
    <div class="p-3 row">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Select Country Code" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Phone Number" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
  <div class="input-wrapper form-control mt-4">
    <label class="card-label">Verify Email</label>
    <div class="form-check form-switch card-switch-form">
      <input class="form-check-input fs-5" type="checkbox" role="switch">
    </div>
    <div class="p-3 row">
        <span>Email</span>
    </div>
  </div>
  <div class="input-wrapper form-control mt-4">
    <label class="card-label">Verify Identity</label>
    <div class="form-check form-switch card-switch-form">
      <input class="form-check-input fs-5" type="checkbox" role="switch">
    </div>
    <div class="p-2 row d-flex">
      <div class="col-md">
        <span class="me-2">Choose an Identity to add</span>
        <font-awesome-icon color="grey" icon="fa-solid fa-circle-question" />
      </div>     
    </div>
    <div class="p-3 row">
      <div class="col-md-6">
        <select class="form-select">
          <option selected>Issuing country/Region</option>
          <option value="JP">Japan</option>
          <option value="CH">China</option>
          <option value="PH">Philippines</option>
        </select>
      </div>
      <div class="col-md-6">
        <select class="form-select">
          <option selected>Choose Identification</option>
          <option value="ID">ID</option>
        </select>
      </div>
    </div>
    <CommonDivider/>
    <div class="p-2 row d-flex">
      <div class="col-md">
        <span class="me-2">Choose an Identity to add</span>
        <font-awesome-icon color="grey" icon="fa-solid fa-circle-question" />
      </div>     
    </div>
    <div class="p-3 row">
      <div class="col-md-6">
        <div class="card rounded-2">
          <div class="m-4 mb-0">
            <div class="col">
              <div class="row d-flex justify-content-center"> 
                <font-awesome-icon class="fs-1" color="orange" icon="fa fa-address-card" />
              </div>
                <div class="mt-2 d-flex justify-content-center align-items-center">
                  <span>Upload Front only</span>
                </div>
                <div class="mb-4 d-flex justify-content-center">
                  <small>JPEG or PNG only</small>
                </div>
                <div class="mb-4 d-flex justify-content-center">
                  <button type="button" class="btn orange btn-warning rounded-5 text-white">Select Files</button>
                </div>
            </div>
           
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card rounded-2">
          <div class="m-4 mb-0">
            <div class="col">
              <div class="row d-flex justify-content-center"> 
                <font-awesome-icon class="fs-1" color="orange" icon="fa fa-address-card" />
              </div>
                <div class="mt-2 d-flex justify-content-center align-items-center">
                  <span>Upload Back</span>
                </div>
                <div class="mb-4 d-flex justify-content-center">
                  <small>JPEG or PNG only</small>
                </div>
                <div class="mb-4 d-flex justify-content-center">
                  <button type="button" class="btn orange btn-warning rounded-5 text-white">Select Files</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <CommonDivider/>
    <div class="p-2 row d-flex">
      <div class="col-md">
        <span class="me-2">Take a photo of yourself with your ID</span>
        <font-awesome-icon color="grey" icon="fa-solid fa-circle-question" />
      </div>     
    </div>
    <div class="p-3">
      <div class="card rounded-2">
        <div class="m-4 mb-0">
          <div class="col">
            <div class="row d-flex justify-content-center"> 
              <font-awesome-icon class="fs-1"  icon="fa-solid fa-upload" />
            </div>
              <div class="mt-2 d-flex justify-content-center align-items-center">
                <span>Upload Back</span>
              </div>
              <div class="mb-4 d-flex justify-content-center">
                <small>JPEG or PNG only</small>
              </div>
              <div class="mb-4 d-flex justify-content-center">
                <button type="button" class="btn orange btn-warning rounded-5 text-white">Select Files</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.input-wrapper {
  position: relative;
}

.form-check-input:checked {
    background-color: orange;
    border-color: orange;
  }

.card-label {
  position: absolute;
  top: -0.8rem;
  z-index: 1;
  left: 1rem;
  background-color: white;
  padding: 0 5px;
}

.card-switch-form {
  position: absolute;
  top: -0.8rem;
  z-index: 1;
  right: 2rem;
  background-color: white;
  padding: 0 0px;
}

</style>