<template>
  <div class="container-fluid border">
    <div class="container">
      <div class="d-flex col-md-12 p-2">
        <div class="col-md-4 mt-3 justify-content-start">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item" aria-current="page">Home</li>
                  <li class="breadcrumb-item" aria-current="page">Sponsor Profile</li>
                  <li class="breadcrumb-item active" aria-current="page">Verification</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center">
          <span class="me-3">Sponsor</span>
          <div class="form-check form-switch mx-2">
            <input class="form-check-input fs-5" type="checkbox" role="switch">
          </div>
          <span>Creator</span>
        </div>
        
        <div class="col-md-4 d-flex align-items-center justify-content-end">
          <div class="col-md-8 justify-content-end">
            <div class="row">
              <div class="col-md-8">
                <span>Profile Completeness</span>
              </div>
              <div class="col-md-4">
                <span>{{ percent }}</span>
              </div>
            </div>
            <div class="progress" role="progressbar">
                  <div class="progress-bar text-bg-warning" :style="{width: percent + '%'}"></div>
                </div>
            <div class="col-md-12 d-flex justify-content-end">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</template>

<script setup>
  const percent = ref(75)

</script>

<style scoped>
  .breadcrumb-item {
    color: orange;
  }
  
  .form-check-input:checked {
    background-color: orange;
    border-color: orange;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    color: orange;
}
</style>