<template>
  <MainHeader/>
  <div class="container mt-4">
   <div class="row">
    <div class="col-md-4">
      <CardProfile />
    </div>
    <div class="col-md-8">
      <FormVerification/>
    </div>
   </div>
    
  </div>
</template>

<style scoped>
.input-wrapper {
  position: relative;
}

label {
  position: absolute;
  top: -0.8rem;
  z-index: 1;
  left: 2em;
  background-color: white;
  padding: 0 5px;
}
</style>